<h2>Reactive Validations</h2>
<br>

<div class="row">
    <div class="col-9">
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="createAccount()">

            <!-- Name -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text"
                    class="form-control"
                    placeholder="Write your name"    
                    formControlName="name" 
                      />

                      <span *ngIf="notAValidField('name')" class="form-text text-danger">
                        It must contain a name and a surname 
                      </span>

                </div>
            </div>

             <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Write your email"     
                      />

                    <span *ngIf="emailRequired()" class="form-text text-danger">
                        The email is compulsory
                    </span>

                    
                    <span *ngIf="emailFormat()" class="form-text text-danger">
                        The email does not have an email format
                    </span>

                    <span *ngIf="emailAlreadyExists()" class="form-text text-danger">
                        The email has already an account created, choose another one
                    </span>


                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                    class="form-control"
                    formControlName="username"
                    placeholder="Write your username"     
                      />

                    <span *ngIf="notAValidField('username')" class="form-text text-danger">
                        The username cannot be strider
                    </span>


                </div>
            </div>

             <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Write your password"     
                      />


                      <span *ngIf="notAValidField('password')" class="form-text text-danger">
                        The password must be greater than 6 characters
                    </span>
                </div>
            </div>

            <!-- Password Confirmation -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirm password</label>
                <div class="col-sm-9">
                    <input type="password"
                    class="form-control"
                    formControlName="password2"
                    placeholder="Confirm your password"     
                      />

                      
                    <span *ngIf="notAValidField('password2')" class="form-text text-danger">
                        Passwords must be equal
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" [disabled]="myForm.invalid" type="submit">
                        Create account
                    </button>
                </div>
            </div>





        </form>

        <h2>Is the form valid? {{myForm.valid}}</h2>

        <h5>Email</h5>
        <pre>{{ myForm.controls.email.errors | json }}</pre>
    </div>
</div>
