<h2>Basics Reactive</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off"
              [formGroup]="myForm"  >

            <!-- Product field -->
            <div class="mb-3">
                <label class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="name"
                           placeholder="Name of the product"/>

                    <span *ngIf="validateField('name')"
                        class="form-text text-danger">
                        It must contain at least three letters
                    </span>



                </div>
            </div>

            <!-- Price field -->
            <div class="mb-3">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="price"
                           placeholder="Price of the product"/>
                </div>

            <span  *ngIf="validateField('price')"
                    class="form-text text-danger">
                    Price must be 0 or greater
            </span>



            </div>

            <!-- Stock field -->
            <div class="mb-3">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           formControlName="stock"
                           placeholder="Stock of the product"
                           />
                </div>
            </div>

            <span  *ngIf="validateField('stock')"
                    class="form-text text-danger">
            Stocks must be 0 or greater
            </span>

            <div class="row mt-3">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="myForm.invalid">
                            Send
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Value</span>
        <pre>{{myForm.value|json}}</pre>
    </div>
</div>

