<h2>Dynamics Reactive</h2>
<hr>

<form  (ngSubmit)="save()"
       autocomplete="off"
       [formGroup]="myForm">

       <!-- Name -->
    <div class="mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input  type="text"
                    class="form-control"
                    formControlName="name"
                    placeholder="Write your name"
            > 

            <span *ngIf="validateField('name')"
                   class="form-text text-danger">
                    This field is compulsory
            </span>


        </div>
    </div>

           <!-- Add -->
        <div class="mb-3">
            <label class="col-sm-3 col-form-label">Add</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input
                        class="form-control"
                        [formControl]="newGame"
                        placeholder="Add favorite game"
                        (keyup.enter)="add()"
                       
                    > 
                     <button 
                        class="btn btn-outline-primary"
                        type="button" 
                        (click)="add()"
                        >
                        Add
                    </button>
                  </div>

    
            </div>
        </div>

        <!-- List of favourite games -->
        <div class="mb-3">
            <label class="col-sm-3 col-form-label">Favorite games</label>
            <div class="col-sm-9" formArrayName="favoriteGame">

                <div class="input-group mb-2"
                     *ngFor="let favoriteGame of favoriteArray.controls; let i=index">
                    <input 
                    class="form-control"
                    [formControlName]="i"
                    > 

                    <button 
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="delete(i)"
                    >
                    Delete
                </button>



                </div>
 
            </div>
        </div>

    <div class="row">
        <div class="col-sm-9">
            <button
                type="submit"
                class="btn btn-primary float-end"
            >
                Save
            </button>
        </div>
    </div>




</form>

<span>Person</span>
<pre></pre>

<span>Add new Game</span>
<pre></pre>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Value</span>
        <pre>{{myForm.value|json}}</pre>

        <span>Add game</span>
        <pre>{{newGame.value}}</pre>
    </div>
</div>